.player-card {
  display: flex;
  background-color: lightgrey;
  width: 200px;
  padding: 4px;
  border-radius: 5px;
  border: solid 1px black;
}

.player-card__flag-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px black;
}

.player-card__info {
  margin-left: 10px;
  width: 100%;
}

.player-card__skittles {
  display: flex;
  justify-content: space-around;
}

.skittle {
  &--purple { color: purple; }
  &--yellow { color: yellow; }
  &--green { color: green; }
  &--orange { color: orange; }
  &--red { color: red; }
}
